// =======================================
//     List of variables for layout
// =======================================
/*
    description Of variables for build for theme layouts
        1) menu-caption-color
            List of color for sidebar menu caption

        2) brand-background
            List of color for logo background

        3) header-dark-background
            List of color for Dark Header

        4) header-light-background
            List of color for light Header

        5) menu-dark-background
            List of color for Dark sidebar menu

        6) menu-light-background
            List of color for light sidebar menu

        7) menu-active-color
            List of color for Active item highliter

        8) menu-icon-color
            List of color for sidebar menu items icon colors
*/
$header-height: 50px;
// $Menu-width: 250px;
$Menu-width: 230px;
$Menu-collapsed-width: 70px;

// color list for build layouts
$accent-color: #7469B6;
$telu-color: #e01a3f;
// $telu-color: #8153fe;
$primary-color: #4680ff;
$warning-color: #ffba57;
$danger-color: #ff5252;
$success-color: #2ca87f;
// $success-color: #9ccc65;
$purple-color: #8153fe;
$info-color: #00bcd4;
$secondary-color: #748892;
$default-color: #d6d6d6;
$light-color: #ECEFF1;
$dark-color: #263238;
$inverse-color: $dark-color;
$theme-border: #e2e5e8;
$success-text-color: #058466;
$super-light-color: #f8f9fa;

// header
$header-dark-background: #101b33;
$header-dark-text-color: #fff;
$header-light-background: #fff;
$header-light-text-color: #101b33;

// Menu
$menu-dark-background: #101b33;
$menu-dark-text-color: #fff;
// $menu-dark-text-color: #97a7c1;

$menu-light-background: #f8f9fa;
// $menu-light-background: #fff;
$menu-light-text-color: #535763;
$menu-active-color: $primary-color;

// $dark-layout: darken(#101b33,8%);
$dark-layout: #0c0c0c;
$dark-layout-font: #ebebeb;
$theme-text-light: #5b6b79;


// Menu icon
$menu-icon-color: #4680ff, #ff5252, #01a9ac ,#8153fe , #00bcd4, $warning-color;

// Header background
$color-header-name: blue, red, purple, info, green, dark, telu;
$color-header-color: $primary-color, $danger-color, $purple-color ,$info-color, $success-color, #cd2141 ,#e01a3f;
// Header gradient
$color-header-grd-name: grd-blue, grd-red, grd-purple, grd-info, grd-green, grd-dark, grd-telu;
$color-header-grd-color: linear-gradient(to right, $primary-color 0%, #00f2fe 100%),
linear-gradient(to right, $danger-color 0%, #ff9a44 100%),
linear-gradient(to left, $purple-color 0%, #9f90ff 100%),
linear-gradient(to right, $info-color 0%, #22e1ff 100%),
linear-gradient(to left, $success-color 0%, #058466 100%),
linear-gradient(to right, #101b33 0%, #1f3054 100%),
linear-gradient(to right, #e01a3f 0%, #676767 100%);


// Active background color
$color-active-name: blue, red, purple, info, dark;
$color-active-color: #4680ff, #ff5252, #536dfe ,#00bcd4,$dark-color;

 // Menu title color
$color-title-name: blue, red, purple, info, dark;
$color-title-color: #4680ff, #ff5252, #536dfe ,#00bcd4,$dark-color;

$theme-font-family: 'Open Sans', sans-serif;
$theme-font-size: 13px;
$theme-background: #ecf0f5;
$theme-font-color: #373a3c;
$theme-heading-color: #37474f;

$color-name: c-blue,c-red,c-green,c-yellow,c-purple, c-telu, c-light;
$color-color: $primary-color,$danger-color,$success-color ,$warning-color ,$purple-color, $telu-color, $super-light-color;
$color-bt-name: primary,danger,success,warning,info,purple;
$color-bt-name-tb: primary,danger,success,warning,info,sea,telu;
$color-bt-color: $primary-color,$danger-color,$success-color ,$warning-color ,$info-color,$purple-color;

// form-control variables
$form-bg: #ecf0f5;

// social color variables
$social-name: facebook,twitter,dribbble,pinterest,youtube,googleplus,instagram,viber,behance,dropbox,linkedin;
$social-color: #3C5A99,#42C0FB,#EC4A89,#BF2131,#E0291D,#C73E2E,#AA7C62,#7B519D,#0057ff,#3380FF,#0077B5;

// =====================================================================
// ==================   Bootstrap Extra Variable  ======================
// =====================================================================

// Color contrast
$yiq-contrasted-threshold: 200;
$yiq-dark-color: #37474f;
$yiq-light-color: #fff;
$theme-color-interval: 8%;
$alert-bg-level: -10;
$alert-border-level: -9;
$alert-color-level: 6;

// card block css
$card-shadow: 0 2px 10px -1px rgba(69,90,100,0.3);
$card-header-border:1px solid #e2e5e8;

// Card border radius
$border-radius: 0.50rem;
$border-rad-ul: 0.50rem 0 0 0;
$border-rad-ur: 0 0.50rem 0 0;
$border-rad-bl: 0 0 0.50rem 0;
$border-rad-br: 0 0 0 0.50rem;
$border-rad-top: 0.50rem 0.50rem 0 0;
$border-rad-bottom: 0 0 0.50rem 0.50rem;

$bs-primary-text: #3f78ff;
$bs-primary-text2: #2a4d99;
$bs-secondary-text: #5b6b79;
$bs-success-text: #27a077;
$bs-info-text: #30bccc;
$bs-warning-text: #de7700;
$bs-danger-text: #d82222;
$bs-light-text: #5b6b79;
$bs-dark-text: #3e4853;
$bs-primary-bg-subtle: #c8d9ff;
$bs-primary-bg-subtle2: #dae6ff;
$bs-secondary-bg-subtle: #f8f9fa;
$bs-success-bg-subtle: #c0e5d9;
$bs-info-bg-subtle: #c5eff3;
$bs-warning-bg-subtle: #f7dcb3;
$bs-danger-bg-subtle: #f5bebe;
$bs-light-bg-subtle: #fcfcfd;
$bs-dark-bg-subtle: #bec8d0;
$bs-primary-border-subtle: #a3c0ff;
$bs-primary-border-subtle2: #c8d9ff;
$bs-secondary-border-subtle: #f3f5f7;
$bs-success-border-subtle: #96d4bf;
$bs-info-border-subtle: #9fe4eb;
$bs-warning-border-subtle: #f2c580;
$bs-danger-border-subtle: #ee9393;
$bs-light-border-subtle: #f3f5f7;
$bs-dark-border-subtle: #8996a4;

$tbl-bg: $bs-primary-bg-subtle2,$bs-danger-bg-subtle,$bs-success-bg-subtle,$bs-warning-bg-subtle,$bs-info-bg-subtle,$bs-primary-bg-subtle,$telu-color;
$tbl-cl: $bs-primary-text,$bs-danger-text,$bs-success-text,$bs-warning-text,$bs-info-text,$bs-primary-text,#fff;
$tbl-bg-drk:rgba(13, 110, 253, 0.2),rgba(220, 53, 69, 0.2),rgba(25, 135, 84, 0.2),rgba(255, 193, 7, 0.2),rgba(13, 202, 240, 0.2),rgba(13, 110, 253, 0.2),#000;
